---
layout: page
title: About
permalink: /about/
---

<body>
  {% include custom-header.html %}
  <h1>About Me</h1>
  <p>I'm Jim, a DevSecOps engineer with over 10 years in software and security engineering. I specialize in:</p>
  <ul>
    <li>CI/CD security automation</li>
    <li>Cloud-native infrastructure hardening</li>
    <li>Threat modeling and vulnerability management</li>
  </ul>
  <p>Currently building a portfolio of security tools and writing about lessons learned from the field.</p>
</body>